.contact-info{
  width: 198px;
  display: grid;
  grid-template-columns: repeat(2,auto);
  grid-template-rows: repeat(2,auto);
column-gap: 18px;
  justify-content: center;
  align-items: center;
}
.contact-info__logo{
grid-column: 1/2;

}
.contact-info__title{
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
  grid-column: 2/3;
  color: #1F1E25;
  font-weight: 500;
  @include text(16px, 140%);
}
.contact-info__text{
  grid-column: 2/3;
  margin: 0;
  padding: 0;
  color:$color-text-alt;
  @include text(12px, 140%);
}
