.footer-nav{
  list-style: none;
  margin: 0;
  padding: 0;
  color: #1F1E25;
  font-weight: 500;
  @include text(16px, 140%);
}

.footer-nav__item{

  &:not(:last-child){
    margin-bottom: 15px;
  }
}

.footer-nav__link{
  display: block;
  color: $color-text;

  &:hover{
    text-decoration: underline;
  }
  &:active{
    opacity: 0.6;
  }
}
