$color-text: #1F1E25;
$color-link-active: #2C36F2;
$color-numbers: #000000;

$color-buttons-alt: #F6F7FF;
$color-text-alt:#707C87;
$color-text-promo:#F6F7FF;
$color-buttons:#2C36F2;
$color-buttons-alt: #F6F7FF;
$color-line-decoration: #C1C2CA;
$color-bg-body:#ffffff;
$color-bg-alt:#F6F7FF;
$color-bg-promo:#2C36F2;
$color-bg-promo-gradient:#2027B3;


$main-font: "Roboto","Arial","sans-serif";
